.main-header {
  color: var(--color-primary);
  font-size: 3em;
  padding: .5em;
}

.divider {
  margin-top: 0.3em;
}

.header-content {
  display: flex;
  justify-content: space-between;
  padding-left: 1em;
  padding-right:1em;
}

@media screen and (max-width: 420px) {

  .header-content {
    flex-direction: column;
    align-items: center;
  }

}
