#app-container {
  background-color: #eef2f5;
  display: flex;
  flex-direction: column; /* header em cima, conteúdo embaixo */
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
}

.page-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  padding-top: 0;
}
