.text-center {
  text-align: center;
}

.workshop-filter {
  display: flex;
  gap: 1em;
  justify-content: space-around;
}

.filter-header {
  font-size: 1.3em;
  color: var(--color-primary);
  padding: .4em;
}

.filter-container {
  width: 75vw;
}

@media screen and (max-width: 950px) {

  .workshop-filter {
    flex-direction: column;
    align-items: stretch;
  }


}

.scrollable-table {
  width: 75vw;
  margin: 1em 0;
}

